@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.1s ease-in-out;
}

body {
  background-color: #222222;
  height: 500vh;
}

/* Header Style */
header {
  position: fixed;
  width: 100%;
  margin: auto;
  padding: 0px;
  background-color: #222222;
  z-index: 9;
}
nav {
  background-color: #222222;
  max-width: 70%;
  height: 80px;
  margin: auto;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: white;
  margin: 0px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 173px;
  height: 50px;
}

.search {
  background-color: #d9d9d9;
  width: 600px;
  height: 40px;
  border-radius: 49px;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: rgba(#000000, 0.5);
  padding: 8px 0px 8px 20px;
}
.burger-acc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 112px;
  height: 29px;
}
.burgerButton:hover{
  cursor: pointer;
}
.burger-line {
  width: 40px;
  height: 0px;
  border: 2px solid white;
  border-radius: 1100px;
  margin: 10px;
}
.accButton:hover{
  cursor: pointer;
}
.hrHeader {
  border: 1px solid darkred;
  width: 100%;
}

.headerPlug {
  height: 80px;
}

main {
  width: 100%;
  margin: auto;
  padding: 0px;
}

/* Слайдер: */
.slider {
  max-width: 1296px;
  /* width: 1296px; */
  height: 554px;
  margin: 60px auto 0px auto;
}
.slider .itemSlide img {
  object-fit: cover;
  width: 100%;
  height: 554px;
  border-radius: 43px;
  box-shadow: inset -35px -36px 30px rgba(0, 0, 0, 0.5);
}
.clickItem {
  position: relative;
  display: flex;
  width: 125px;
  height: 23px;
  margin: -40px auto 0px auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 22px;
  justify-content: space-evenly;
  align-items: center;
}
.clickItem span {
  font-size: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.nstuMade {
  position: relative;
  width: 100%;
  margin-top: 60px;
}

.downWithHr {
  position: relative;
  margin-top: 80px;
}
.button-down {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  width: 600px;
  height: 40px;
  border-radius: 48px;
  background-color: white;
  margin: -20px auto 0px auto;
  z-index: 1;
}
.button-down:hover {
  background-color: darkred;
  color: white;
}
.hr2 {
  border: 1px solid darkred;
  width: 100%;
  z-index: -1;
}
.menu {
  margin: 45px auto 0 auto;
  padding: 0px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-evenly;
  max-width: 1297px;
  flex-wrap: wrap;
}
.menuText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: white;
}
.aText1 {
  margin-top: 25px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 416px;
  height: 272px;
  background-image: url(/images/menu/image1.png);
}
.aText2 {
  margin-top: 25px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 416px;
  height: 272px;
  background-image: url(/images/menu/image2.png);
}
.aText3 {
  margin-top: 25px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 416px;
  height: 272px;
  background-image: url(/images/menu/image3.png);
}
.aText4 {
  margin-top: 25px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 416px;
  height: 272px;
  background-image: url(/images/menu/image4.png);
}
.aText5 {
  margin-top: 25px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 416px;
  height: 272px;
  background-image: url(/images/menu/image5.png);
}
.aText6 {
  margin-top: 25px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 416px;
  height: 272px;
  background-image: url(/images/menu/image6.png);
}
.hr3 {
  position: relative;
  margin-top: 50px;
  border: 1px solid darkred;
  width: 100%;
}
.sponsors {
  margin: 25px auto 0 auto;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1297px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #ffffff;
}
.redBlock {
  margin-top: 25px;
  width: 196px;
  height: 72px;
  background-color: #bd0000;
}

/* animation */
.containerForImg {
  display: flex;
  align-content: center;
  justify-content: center;
  max-width: 70%;
  height: 470px;
  margin: 50px auto 0px auto;
  padding: 0;
}
.inner {
  width: 600px;
  height: 470px;
  z-index: -1;
}
.another-right {
  position: absolute;
  width: 33.5px;
  height: 67px;
  transition: 0.5s;
  margin-left: 985px;
  margin-top: -280px;
  z-index: -1;
}
.another-left {
  position: absolute;
  width: 33.5px;
  height: 67px;
  transition: 0.5s;
  margin-left: 900px;
  margin-top: -280px;
  z-index: -1;
}

.h1-1 {
  margin-top: 170px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  transform: translateX(-40%);
  transition: 0.5s;
  color: white;
}
.h1-2 {
  margin-top: 170px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;

  transform: translateX(+40%);
  transition: 0.5s;
  color: white;
}
.element2 {
  display: flex;
  justify-content: center;
  width: 800px;
  height: 460px;
  background-color: #bd0000;
  margin-left: 800px;
  margin-top: -460px;
  opacity: 0;
  transition: 0.5s;
}
.element1 {
  display: flex;
  justify-content: center;
  width: 800px;
  height: 460px;
  background-color: #bd0000;
  margin-left: 350px;
  margin-top: -470px;
  opacity: 0;
  transition: 0.5s;
}
.left {
  position: absolute;
  width: 33.5px;
  height: 67px;
  transition: 0.5s;
  margin-left: -560px;
  margin-top: 180px;
  transform: translate(-125%);
  opacity: 2;
}
.right {
  position: absolute;
  width: 33.5px;
  height: 67px;
  transition: 0.5s;
  opacity: 0;

  margin-left: 900px;
  margin-top: 180px;
  transform: translate(-500%);
}
.element1:hover {
  opacity: 1;
}
.element1:hover h1 {
  opacity: 1;
  transform: translate(0);
}
.element1:hover img {
  opacity: 1;
  transform: translate(0);
}
.inner:hover .another-right {
  display: none;
}
.element2:hover {
  opacity: 1;
}
.element2:hover h1 {
  opacity: 1;
  transform: translate(0);
}
.element2:hover img {
  opacity: 1;
  transform: translate(-500%);
}

.popup__bgBurger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  opacity: 0;
}
.popup__bgBurger.active {
  pointer-events: all;
  z-index: 11;
  opacity: 1;
}
.popupBurger {
  position: absolute;
  top: calc(0% + 50vh);
  right: calc(0% - 15vw);
  transform: translate(0%, -50%);
  background: #D9D9D9;
  width: 30vw;
  height: 100vh;
  padding: 20px;
  transition: 0.3s all;
  font-family: "Montserrat";
  color: rgb(0, 0, 0);
  overflow: hidden;
  z-index: 100;
}
.popupBurger.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
  z-index: 100;
}
.closeBurger:hover{
  cursor: pointer;
}

.popup__bgAcc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
  opacity: 0;
}
.popup__bgAcc.active {
  pointer-events: all;
  z-index: 1;
  opacity: 1;
}
.popupAcc {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%) scale(0);
  background: #D9D9D9;
  border-radius: 50px;
  width: 40vw;
  height: 60vh;
  padding: 20px;
  transition: 0.3s all;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  overflow: hidden;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.diff{
  display: flex;
  flex-direction: column;
}
.diff button{
  all: initial;
  width: 20vw;
  height: 10vh;
  margin-bottom: 20px;
  background-color: #bd0000;
  color: #D9D9D9;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
  border-radius: 150px;
  text-align: center;
  transition: all 0.5s;
}
.diff button:hover{
  color: #bd0000;
  background-color: #222222;
}
.register, .login{
  display: none;
  flex-direction: column;
  text-align: center;
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: 300;

}
.register input{
  all: initial;
  width: 20vw;
  height: 4vh;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: #222222;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 10px;
  border-radius: 150px;
  transition: all 0.5s;
}
.login input{
  all: initial;
  width: 20vw;
  height: 4vh;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: #222222;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 10px;
  border-radius: 150px;
  transition: all 0.5s;
}
.register button{
  all: initial;
  width: 20vw;
  height: 5vh;
  margin-top: 20px;
  background-color: #bd0000;
  color: #D9D9D9;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
  border-radius: 150px;
  text-align: center;
  transition: all 0.5s;
}
.login button {
  all: initial;
  width: 20vw;
  height: 5vh;
  margin-top: 20px;
  background-color: #bd0000;
  color: #D9D9D9;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
  border-radius: 150px;
  text-align: center;
  transition: all 0.5s;
}
.register button:hover{
  color: #bd0000;
  background-color: #222222
}
.login button:hover{
  color: #bd0000;
  background-color: #222222
}
.regStroke{
  margin-bottom: 3vh;
  font-size: 3rem;
  color: #bd0000;
  font-weight: 700;
}
.popupAcc.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
  z-index: 100;
}